<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="../../assets/hbsis-png.png" height="30"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Início
          </a> 
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Atendentes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Empresas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/produtos">Produtos</a>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login-admin">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>