<nav class="navigation navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="nav-brand"><img src="../../assets/hbsis-logo.png" alt="HBSIS" width="30" height="30"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Atendentes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Empresas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Produtos</a>
          </li>
      </ul>
    </div>
  </nav>