<div class="container-fluid">
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand"><img src="../../assets/hbsis-png.png" height="30"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="tokenInicio()">Início</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  *ngIf="auth.temPermissao('ROLE_CADASTRAR_ATENDENTE')" (click)="tokenAtendente()">Atendentes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="auth.temPermissao('ROLE_CADASTRAR_COLABORADOR')" (click)="tokenColaborador()">Colaboradores</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="auth.temPermissao('ROLE_CADASTRAR_EMPRESA')" (click)="tokenEmpresa()">Empresas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="auth.temPermissao('ROLE_CADASTRAR_PRODUTO')" (click)="tokenProduto()">Produtos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="auth.temPermissao('ROLE_CADASTRAR_MODULO')" (click)="tokenModulo()">Módulos</a>
        </li>
      </ul>


      <ul class="nav navbar-nav ml-auto mr-5">
        <li class="nav-item">
          <a class="nav-link sair" (click)="logout();">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
