<app-dashboard></app-dashboard>




<div class="container">
    <div class="row justify-content-md-center">
        <div class="coluna col-10 justify-content-md">
            <form style="margin: 10px;">
                <h5>Cadastro de empresa</h5>
                <div class="form-group">
                    <label for="razaoSocial">Razão Social</label>
                    <input class="form-control" type="text" id="razaoSocial">
                </div>
                <div class="form-group">
                    <label for="nomeFantasia">Nome Fantasia</label>
                    <input class="form-control" type="text" id="nomeFantasia">
                </div>
                <div class="form-group">
                    <label for="cnpj">CNPJ</label>
                    <input class="form-control" type="text" id="cnpj">
                </div>
                <div class="form-group">
                    <label for="ie">Inscrição Estadual</label>
                    <input class="form-control" type="text" id="ie">
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" type="text" id="email">
                </div>
                <button class="btn btn-secondary" type="submit" style="width: 60%; margin-left: 20%; margin-right: 20%;">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

