<app-dashboard></app-dashboard>

<div class="container rounded">

    <div class="row titulo">
        <!--LINHA DO TÍTULO-->
        <div class="col-12">
            <h1>Cadastro de Colaboradores</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form #atendenteForm="ngForm" (ngSubmit)="onSubmit()">
                <!-- FORMULÁRIO -->

                <div class="alert alert-danger" *ngIf='erro'>{{msgErro}}</div>
                <div class="alert alert-success" *ngIf='sucesso'>{{msgSucesso}}</div>

                <div class="row">
                    <div class="col-12">
                        <input autocomplete="off" [value]="nome" id="nome" class="input" type="text" pattern=".+"
                            required [(ngModel)]="colaborador.nome" name="nome" maxlength="100">
                        <label class="label" for="nome">Nome</label>

                        <div class="underDiv">
                            <div class="underDivLeft"></div>
                            <div class="underDivRight"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <input autocomplete="off" [value]="email" id="email" class="input" type="text" pattern=".+"
                            required [(ngModel)]="colaborador.email" name="email" maxlength="50" />
                        <label class="label" for="email">Email</label>

                        <div class="underDiv">
                            <div class="underDivLeft"></div>
                            <div class="underDivRight"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <input autocomplete="off" [value]="senha" id="senha" class="input" type="password" pattern=".+"
                            required [(ngModel)]="colaborador.senha" name="senha"  maxlength="30" />
                        <label class="label" for="senha">Senha</label>
                        
                        <div class="underDiv">
                            <div class="underDivLeft"></div>
                            <div class="underDivRight"></div>
                            <label class="labelFotoEspec"> * Uma letra maiúscula, minúscula e um caractere especial.</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <input autocomplete="off"  id="senhaConfirmacao" class="input" type="password" pattern=".+"
                            required name="senhaConfirmacao" maxlength="30" />
                        <label class="label" for="senhaConfirmacao">Confirmação Senha</label>
                        
                        <div class="underDiv">
                            <div class="underDivLeft"></div>
                            <div class="underDivRight"></div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3"> <!-- LINHA DOS ARQUIVOS ESPECIAIS -->

                    <div class="col-6"><!-- LADO DIREITO -->

                        <mat-form-field id="checkEscolha" color="accent">
                            <mat-label id="labelEscolha">Selecione produtos</mat-label>
                                <!-- <mat-select [(ngModel)]="colaborador.colaboradorProdutoList" name="colaboradorProdutoList" [formControl]="toppings" multiple> -->
                                <mat-select [(ngModel)]="colaborador.produtoList" name="produtoList" [formControl]="produtos" multiple>

                                <mat-option (click)="selectClickProduto(produtos)" id="optionEscolha" *ngFor="let produtos of produtoList" [value]="produtos">
                                    {{produtos.nome}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                  <div class="col-6"><!-- LADO DIREITO -->

                        <mat-form-field id="checkEscolha" color="accent">
                            <mat-label id="labelEscolha">Selecione Empresas</mat-label>
                                <!-- <mat-select [(ngModel)]="colaborador.colaboradorEmpresaList" name="colaboradorEmpresasList" [formControl]="toppings" multiple> -->
                                    <mat-select [(ngModel)]="colaborador.empresaId" name="empresaId" [formControl]="empresas" >
                                        <mat-option  (click)= "selectEmpresa()" *ngFor="let empresas of empresasList" [value]="empresas.id" id ='empresasId'>
                                          {{empresas.razaoSocial}}
                                        </mat-option>
                                      </mat-select>
                               
                                    <!-- <mat-select [(ngModel)]="colaborador.empresasList" name="empresasList" [formControl]="empresas" multiple>

                                <mat-option (click)="selectClickEmpresas(empresas)" id="optionEscolha" *ngFor="let empresas of empresasList" [value]="empresas">
                                    {{empresas.razaoSocial}}
                                </mat-option>
                            </mat-select> -->
                        </mat-form-field>
                    </div>


                </div>

                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-dark">Cadastrar Colaborador</button>
                    </div>
                </div>

            </form><!-- FORMULÁRIO -->
        </div>
    </div>
</div>
