<app-dashboard></app-dashboard>

<div class="container rounded">
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12">

            <h2>Produtos</h2>

            <div class="table-responsive rounded">
                <table class="table table-striped table-bordered table-dark">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Produto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let produto of produtos">
                            <td>{{produto.id}}</td>
                            <td>{{produto.nome}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

