/* CSS GERAL */
.background{
    min-height: 100%;
    background: rgb(0,154,168);
    background: radial-gradient(circle, rgba(0,154,168,1) 50%, rgba(0,111,181,1) 100%);
}

.container{
    width: 60%;
    margin-top: 80px;
    text-align: center;
}

.col-12{
    padding: 0px;
} 


h2{
    color: white;
    padding: 10px;
}

#rd{
    display: none;
}

#rd:checked ~  #table{
    overflow: visible;
}

