/* CSS GERAL */
.container{
    background-color: rgba(255, 255, 255, .7);
    padding: 20px 20px 20px 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.col-md-4{
    text-align: center;
}

.titulo{
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(26, 55, 68);
    text-align: center;
}

.alert{
    margin: 10px 0px 25px;
}

.col-12{
    padding: 0px;
} 

h2{
    color: rgb(26, 55, 68);
    padding: 10px;
}

@media (max-width: 575px){
    .container{
        width: 90%;
        margin-top: 40px;
    }
}

@media (min-width: 576px) {  
    .container{
        width: 100%;
    }
}

@media (min-width: 768px) {  
    .container{
        width: 100%;
    }
}

@media (min-width: 992px) {  
    .container{
        width: 800px;
    }
}

@media (min-width: 1200px) { 
    .container{
        width: 1000px;
    }
 }
