/* CSS GERAL */
.background{
    background: rgb(167, 164, 164);
    display: flex;
    height: 100%;
}

.container{
    width: 60%;
    margin-top: 80px;
    text-align: center;
}

.col-12{
    padding: 0px;
} 


h2{
    color: white;
    padding: 10px;
}

#rd{
    display: none;
}

#rd:checked ~  #table{
    overflow: visible;
}

