<app-dashboard></app-dashboard>

<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="row titulo"><!--LINHA DO TÍTULO-->
                    <div class="col-12">
                        <h1>Cadastro de Atendente</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <form #atendenteForm="ngForm" (ngSubmit)="onSubmit()"><!-- FORMULÁRIO -->

                            <div class="row" id="rowLados">
                                <div class="col-12">
                                    <input autocomplete="off" id="nome" class="input" type="text" pattern=".+" required [(ngModel)]="atendente.nome" name="nome"/>
                                    <label class="label" for="nome">Nome</label>

                                    <div class="underDiv">
                                        <div class="underDivLeft"></div>
                                        <div class="underDivRight"></div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <input autocomplete="off" id="email" class="input" type="text" pattern=".+" required [(ngModel)]="atendente.email" name="email"/>
                                    <label class="label" for="email">Email</label>

                                    <div class="underDiv">
                                        <div class="underDivLeft"></div>
                                        <div class="underDivRight"></div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <input autocomplete="off" id="senha" class="input" type="text" pattern=".+" required [(ngModel)]="atendente.senha" name="senha"/>
                                    <label class="label" for="senha">Senha</label>

                                    <div class="underDiv">
                                        <div class="underDivLeft"></div>
                                        <div class="underDivRight"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="validatedCustomFile" required [(ngModel)]="atendente.foto" name="foto">
                                        <label class="custom-file-label" for="validatedCustomFile">Escolher arquivo...</label>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-6">
                                    <mat-form-field id="checkEscolha">
                                        <mat-label id="labelEscolha">Selecione produtos</mat-label>
                                        <mat-select [formControl]="toppings" multiple>
                                          <mat-option id="optionEscolha" *ngFor="let topping of toppingList | async" [value]="topping">{{topping}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-dark">Cadastrar Atendente</button>
                                </div>
                            </div>

                       </form><!-- FORMULÁRIO -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
