<app-dashboard></app-dashboard>
<div class= "imagem">
<div class="container">
    <div class="row justify-content-md-center">
        <div class="coluna col-5 justify-content-md">
            <form style="margin: 10px;">
                <h5>Cadastro de produto</h5>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control"  placeholder="Digite o nome do produto" type="text" id="nome">
                </div>
                <button class="cadastrar btn btn-secondary" type="submit" style="width: 100%; margin-bottom: 10px;">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
</div>
