<app-dashboard></app-dashboard>

<div class="container rounded">

  <div class="row titulo">
    <!--LINHA DO TÍTULO-->
    <div class="col-12">
      <h1>Cadastro de Produto</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <form #produtoForm="ngForm" (ngSubmit)="onSubmit()">
        <!-- FORMULÁRIO -->

        <div class="alert alert-danger" *ngIf="erro">{{msgErro}}</div>
        <div class="alert alert-success" *ngIf="sucesso">{{msgSucesso}}</div>

        <div class="row">
          <div class="col-12">
            <input autocomplete="off" [value]="nome" id="nome" name="nome" pattern=".+" [(ngModel)]="produto.nome"
              class="input" type="text" required>
            <label class="label" for="nome">Nome</label>

            <div class="underDiv">
              <div class="underDivLeft"></div>
              <div class="underDivRight"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button class="btn btn-dark" type="submit">Cadastrar Produto</button>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>

<div class="container rounded">
  
  <div class="row titulo">
    <div class="col-12">
      <h1>Produtos Cadastrados</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive rounded">
        <table class="table table-striped table-bordered table-dark">
          <thead>
            <tr>
              <th>Código</th>
              <th>Produto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produto of produtos">
              <td>{{produto.id}}</td>
              <td>{{produto.nome}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>