<div class= "imagem">
    <div class="container">
  <div class="row justify-content-md-center">
    <div class="coluna col-4 justify-content-md-center">
      <form>
            
        <div class="form-group login">
          <label for="login">Login</label>
          <input class="form-control" type="email" placeholder="Digite seu nome de usuário" id="login" required>
        </div>
        <div class= "checkbox" class="form-group">
          <label for="senha">Senha</label>
          <input class="form-control" type="password" placeholder="Digite sua senha" id="senha" required>
          
          </div>
        <button  class="entrar btn btn-secondary" type="submit" routerLink="/dashboard" routerLinkActive="active">Entrar</button>
      </form>
    </div>
  </div>
</div>
</div>